.chapter(data-title='Server Notifications and Alerts')
  .step(data-file='config/administrators.json')
    :markdown
      ## What does this thing do?

      This [Express.js](http://expressjs.com/) sample application
      demonstrates how to send SMS alerts to a list of system
      administrators if something goes wrong on your server. In this
      tutorial, we'll show you the key bits of code to make this work.
      Head to the [application's
      README.md](https://github.com/TwilioDevEd/server-notifications-node)
      to see how to run the application locally.

      Let's get started!

      ---

      **See Also:**
      * [Getting started with Express.js](http://expressjs.com/starter/hello-world.html)
      * [twilio-node library](http://twilio.github.io/twilio-node/)

  .step(data-file='config/administrators.json')
    :markdown
      ## List server admins

      Create a list of administrators who should be notified if a
      server error occurs.  The only requirement we have is a
      `phoneNumber`.

      ---

      **See Also:**
      * [JSON.parse from MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse)

  .step(data-file='config.js', data-highlight='23-45')
    :markdown
      ## Configure Twilio client

      In order to send a message we'll need to create a [Twilio REST
      client](http://twilio.github.io/twilio-node/#quickstart), which
      requires reading our `TWILIO_ACCOUNT_SID`, `TWILIO_NUMBER`
      `TWILIO_AUTH_TOKEN` from the enviroment. We also make the
      variables available through the `config` module.

      ---

      **See Also:**
      * [twilio-node Quickstart](http://twilio.github.io/twilio-node/#quickstart)
      * [Twilio REST Web Service Interface](https://www.twilio.com/docs/api/rest)

  .step(data-file='webapp.js', data-highlight='60-69')
    :markdown
      ## Handle all the exceptions in the application

      We will implement error handling and message delivery as a piece
      of [Express.js
      middleware](http://expressjs.com/guide/using-middleware.html). We
      will make all the Twilio API calls from there. It's important to
      call the `next` function so the next middleware in the stack can
      run. In this case, it's a handler for errors not handled
      elsewhere.

      ---

      **See Also:**
      * [Error handling middleware](http://expressjs.com/guide/using-middleware.html#middleware.error-handling)

  .step(data-file='middleware/twilioNotifications.js', data-highlight='5-10')
    :markdown
      ## Create a custom alert message

      Here we create an alert message to send out via text message. You might also
      decide to include a picture with your alert message, maybe a screenshot of the
      application when the crash happened?

  .step(data-file='middleware/twilioNotifications.js', data-highlight='13-25')
    :markdown
      ## Read the admins from the JSON file

      Next we read the admins from our JSON file
      and send alert messages to each of them with the private
      `sendSms` method in `twilioClient`.

      ---

      **See Also:**
      * [fs.readFile function](https://nodejs.org/api/fs.html#fs_fs_readfile_filename_options_callback)

  .step(data-file='twilioClient.js', data-highlight='4-17')
    :markdown
      ## Send a text message

      There are the three parameters needed to [send an
      SMS](http://twilio.github.io/twilio-node/#moreexamples)
      using the [Twilio REST
      API](https://www.twilio.com/docs/api/rest): `From`, `To`, and
      `Body`. After the message is sent, we print out the phone
      number we're texting. [US phone
      numbers](https://www.twilio.com/help/faq/sms/is-mms-supported-for-all-carriers-in-us-and-canada)
      can also send an image with the message.

      ---

      **See Also:**
      * [REST API Docs for Message resource](https://www.twilio.com/docs/api/rest/message)
      * [Your message logs in the account portal](https://www.twilio.com/user/account/log/messages)

  .step
    :markdown
      ## Where to next?

      That's it! We've just implemented an automated server notification system 
      that can send you server alerts if anything goes wrong. If you're a Node.js
      developer working with Twilio, you might want to check out these other
      tutorials.

      [**Two-Factor Authentication**](https://www.twilio.com/docs/howto/walkthrough/two-factor-authentication/node/express)

      Increase the security of your login system by verifying a user's mobile
      phone in addition to their password.

      [**SMS and MMS marketing notifications**](https://www.twilio.com/docs/howto/walkthrough/marketing-notifications/node/express)

      SMS and MMS messages are a personal way to engage with users, offering
      a much higher open rate than e-mail and more impact than a tweet.



      ### Did this help?

      Thanks for checking out this tutorial! If you have any feedback to share 
      with us, we'd love to hear it. Tweet [@twilio](http://twitter.com/twilio) 
      to let us know what you think.

